@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Acumin";
    src: url(/fonts/acumin.ttf);
    font-display: swap;
}

body {
    @apply font-['Acumin'] text-sm font-light md:text-base;
}
h1 {
    @apply text-foreground text-[60px] tracking-tighter font-medium leading-[50px];
}
h2 {
    @apply text-[45px] tracking-tighter font-normal leading-[35px];
}
h3 {
    @apply text-[20px];
}
h4 {
    @apply text-[16px];
}
a {
    @apply text-primary hover:underline hover:cursor-pointer;
}
svg {
    @apply w-5 h-5 mb-[4px];
}
p {
    @apply text-foreground;
}
span {
    @apply font-medium;
}

::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}
::-webkit-scrollbar-track {
    background: rgb(204, 204, 204);
}
::-webkit-scrollbar-thumb {
    background-color: grey;
    width: 4px;
    height: 6px;
}
